<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Google Test Suite">
	<listeners>
		<listener class-name="listen.TestListener"></listener>
		<listener class-name="listen.AnnotationTransformer"></listener>
	</listeners>
	<test thread-count="5" name="Multiple Test">
		<classes>
			<class name="test.CheckOrkut" />
			<class name="test.CheckTwitter" />
			<class name="test.CheckInstagram" />
			<class name="test.CheckLinkedin" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
